/*Apply to Everyting*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
}

/*navigation bar*/
nav ul {
    list-style-type: none;
    overflow: hidden;
}
  
nav li {
    float: left;
}
  
nav li a {
    display: block;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 20px 14px;
    text-decoration: none;
}

/*body*/
.content {
    margin-top: 10%;
    text-align: center;
}

.content img{
    width: 300px;
}

/*search bar*/
.search {
    border-color: black;
    border:1px solid lightgrey;
    border-radius: 50px;
    width: 600px;
    height: 60px;
    margin: auto;
}

.search:hover{
    box-shadow: 1px 1px 8px 1px #dcdcdc;
}

.search input{
    margin-top:6px;
    padding: 14px;
    font-size: 14px;
    border: none;
    width: 500px;
}

.search input:focus{
    outline-color: white;
}

.search span{
    vertical-align: middle;
    font-size: 20px;
}

.two_butt button{
    margin-top: 20px;
    padding: 10px 25px;
    cursor: pointer;
    background-color: light;
    border: 1px solid transparent;
}

.two_butt button:hover{
    border-color: lightgrey;
}

/*Footer*/
footer {
    position: absolute;
    background-color: lightgrey;
    bottom: 0;
    font-size: 14px;
    width: 100%;
}
footer ul {
    list-style-type: none;
    overflow: hidden;
}
  
footer li {
    float: left;
}
  
footer li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

/* search.html */
.small_logo {
    padding-top: 20px;
    padding-left: 20px;
    width: 120px;
}